{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	email {env.ACME_EMAIL}

	debug
}

# Authentik
auth.orangeunilabs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy http://auth:9000 {
		# Authentik reverse proxy config - required forwarded headers
		# https://goauthentik.io/docs/installation/reverse-proxy
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote}
		header_up Host {host}
		header_up Connection {>Connection [upgrade]}
		header_up Upgrade {>Upgrade [websocket]}

		transport http {
			versions h2c 1.1
		}
	}
}
