{
	# email {env.ACME_EMAIL}
	# acme_dns cloudflare {env.CF_API_TOKEN}
	# Use LetsEncrypt server
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

servers {
	metrics
}

# Authentik
auth.{env.ROOT_DOMAIN} {
	reverse_proxy auth:5080
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

# Uptime Kuma
# {env.STATUS_PAGE_DOMAIN} {
# 	reverse_proxy uptime:3001
# }

# Git (Forgejo/Gitea - not sure which as of yet)
# {env.GIT_DOMAIN} {
# 	reverse_proxy git:3000
# }
